
@media not (prefers-contrast)
{
    .titlebar-buttonbox-container
    {
        align-items: flex-start !important;
    }

    .titlebar-button:not(.titlebar-close):hover
    {
        background-color: var(--toolbarbutton-hover-background) !important;
    }

    .titlebar-button:not(.titlebar-close):hover:active
    {
        background-color: var(--toolbarbutton-active-background) !important;
    }
}