/*= 导航栏图标 ================================================================*/
// 工具折叠菜单按钮
#nav-bar-overflow-button {
  list-style-image: url("./images/icons/chevron.svg") !important;
}
// 用户头像按钮
:root[fxastatus="not_configured"] #fxa-avatar-image {
  list-style-image: url("./images/skin/account.svg") !important;
}
// 后退
#back-button {
  list-style-image: url("./images/icons/back.svg") !important;
}
// 向前
#forward-button {
  list-style-image: url("./images/icons/forward.svg") !important;
}
// 刷新
#reload-button {
  list-style-image: url("./images/icons/reload.svg") !important;
}
// 停止
#stop-button {
  list-style-image: url("./images/icons/close.svg") !important;
}
// 侧边栏
#sidebar-button {
  list-style-image: url("./images/icons/sidebars-right.svg") !important;
}
#sidebar-button:-moz-locale-dir(ltr):not([positionend]),
#sidebar-button:-moz-locale-dir(rtl)[positionend] {
  list-style-image: url("./images/icons/sidebars.svg") !important;
}
// 下载按钮
#downloads-button,
#downloads-indicator-anchor {
  list-style-image: url("./images/icons/downloads.svg") !important;
}
// Web 开发工具
#developer-button {
  list-style-image: url("./images/icons/developer.svg") !important;
}
// 密码管理
#logins-button {
  list-style-image: url("./images/icons/passwords.svg") !important;
}
// 菜单按钮（三道杠）
#PanelUI-menu-button {
  list-style-image: var(--uc-menu-icon) !important;
}
// 新建无痕窗口
#privatebrowsing-button {
  list-style-image: var(--uc-private-windown-icon) !important;
}
// 打开文件
#open-file-button {
  list-style-image: url("./images/icons/open.svg") !important;
}
// 忘记
#panic-button {
  list-style-image: url("./images/icons/forget.svg") !important;
}
// Firefox View 按钮
#firefox-view-button {
  list-style-image: url("./images/icons/firefox-view.svg") !important;
}
// 同步按钮
#sync-button {
  list-style-image: url("./images/icons/tab.svg") !important;
}
// 历史按钮
#history-panelmenu {
  list-style-image: url("./images/icons/history.svg") !important;
}
// 保存网页
#save-page-button {
  list-style-image: url("./images/icons/save.svg") !important;
}
// 打印按钮
#print-button {
  list-style-image: url("./images/icons/print.svg") !important;
}
// 查找网页
#find-button {
  list-style-image: url("./images/icons/search-page.svg") !important;
}
// 邮件发送
#email-link-button {
  list-style-image: url("./images/icons/mail.svg") !important;
}
// 截图
#screenshot-button {
  list-style-image: url("./images/icons/screenshot.svg") !important;
}
//
#profiler-button-button > .toolbarbutton-icon {
  list-style-image: url("./images/icons/tool-profiler.svg") !important;
}
// 修复编码
#characterencoding-button {
  list-style-image: url("./images/icons/alphabet.svg") !important;
}
// 缩小按钮
#zoom-out-button {
  list-style-image: url("./images/icons/zoom-out.svg") !important;
}
// 放大图标
#zoom-in-button {
  list-style-image: url("./images/icons/plus.svg") !important;
}
// 剪切
#cut-button {
  list-style-image: url("./images/icons/edit-cut.svg") !important;
}
// 复制
#copy-button {
  list-style-image: url("./images/icons/edit-copy.svg") !important;
}
// 粘贴
#paste-button {
  list-style-image: url("./images/icons/edit-paste.svg") !important;
}
// 设置
#preferences-button {
  list-style-image: url("./images/icons/settings.svg") !important;
}
// 更多书签
#PlacesChevron {
  list-style-image: url("./images/icons/arrow-right.svg") !important;
}
