@import "./variables.css";

/**======== 扩展管理 ========*/
@supports -moz-bool-pref("userChromeJS.sidra.addons.compact") {
    @-moz-document url-prefix(about:addons),
    url-prefix(chrome: //mozapps/content/extensions/aboutaddons.xhtml) {
        @media (min-width: 960px) {

            /* :root {
            --section-width: calc(100% - 56px);
        } */
            .main-search,
            .main-heading,
            #main {
                max-width: calc(100% - 56px);
            }

            .extension-enabled-section,
            .extension-disabled-section,
            .userchromejs-enabled-section,
            .userchromejs-disabled-section,
            .theme-disabled-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
            }

            .extension-enabled-section >.list-section-heading,
            .extension-disabled-section > .list-section-heading,
            .userchromejs-enabled-section > .list-section-heading,
            .userchromejs-disabled-section>.list-section-heading,
            .theme-disabled-section>.list-section-heading {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .card-heading-image {
                width: calc(100% + 32px);
                height: calc(100% / 3);
                min-height: 32px;
            }

            .monochromatic-addon-list > section {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 10px;
            }

            .monochromatic-addon-list > section > .header-name,
            .monochromatic-addon-list > section > .list-section-subheading {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .monochromatic-addon-list addon-card .card {
                width: 100%;
                height: auto;
            }
        }

        @media (min-width: 1290px) {

            .extension-enabled-section,
            .extension-disabled-section,
            .userchromejs-enabled-section,
            .userchromejs-disabled-section,
            .monochromatic-addon-list > section {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .extension-enabled-section >.list-section-heading,
            .extension-disabled-section > .list-section-heading,
            .userchromejs-enabled-section > .list-section-heading,
            .userchromejs-disabled-section>.list-section-heading {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .monochromatic-addon-list > section {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .monochromatic-addon-list > section > .header-name,
            .monochromatic-addon-list > section > .list-section-subheading {
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }

        .addon-card-message[type="warning"],
        .addon-card-message[type="error"] {
            display: none;
        }

        panel-list>panel-item-separator {
            display: none;
        }

        :is(addon-page-options, addon-options, plugin-options)>panel-list[role="menu"]>panel-item::before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            box-sizing: border-box;
            left: 8px;
            background-image: no-repeat;
            background-size: 16px;
            z-index: 2;
        }

        [action="check-for-updates"]::before {
            background-image: url("./images/aboutaddons/update.svg");
        }

        [action="view-recent-updates"]::before {
            background-image: url("./images/aboutaddons/new.svg");
        }

        [action="install-from-file"]::before {
            background-image: url("./images/aboutaddons/browse.svg");
        }

        [action="debug-addons"]::before {
            background-image: url("./images/aboutaddons/bug.svg");
        }

        [action="reset-update-states"]::before {
            background-image: url("./images/aboutaddons/reset.svg");
        }

        [action="manage-shortcuts"]::before {
            background-image: url("./images/aboutaddons/keyboard.svg");
        }

        [action="preferences"]::before,
        [action="expand"]::before {
            background-image: url("chrome://global/skin/icons/settings.svg");
        }

        [action="AM-browse-dir"]::before {
            background-image: url("./images/aboutaddons/browse.svg");
        }

        [action="AM-copy-name"]::before {
            background-image: url("./images/aboutaddons/copy.svg");
        }

        [action="AM-open-url"]::before {
            background-image: url("./images/aboutaddons/open-in-new.svg");
        }

        [action="AM-edit-script"]::before {
            background-image: url("./images/aboutaddons/editor.svg");
        }

        /* Checkbox */
        [action="set-update-automatically"]::before,
        [action="always-activate"],
        [action="never-activate"] {
            background-image: url("./images/skin/checkbox.svg");
            --icon: unset;
        }

        .addon-permissions-list>li {
            background-image: url("./images/skin/checkbox.svg");
        }

        [action="set-update-automatically"][checked],
        [action="always-activate"][checked],
        [action="never-activate"][checked] {
            background-image: url("./images/skin/checkbox-checked.svg");
        }

        .addon-permissions-list>li.permission-checked {
            background-image: url("./images/skin/checkbox-checked.svg");
        }

        button.category[name="custombuttons"] {
            background-image: url("./images/extensions/custombuttons/buttons.svg") !important;
            background-size: 24px 24px;
        }

        [data-l10n-id="remove-addon-button"] {
            --icon: unset !important;
            background-image: url("./images/extensions/custombuttons/remove.svg");
        }

        [data-l10n-id="custombuttons-edit-button"] {
            --icon: unset !important;
            background-image: url("./images/extensions/custombuttons/edit.svg");
        }
    }
}