:root {
    --font-weight-bold: 600;
    --titlebar-spacer-width: 0px;
    --tab-corner-rounding: 7px;
    --tab-rounding: var(--tab-corner-rounding) var(--tab-corner-rounding) 0 0;
    --tab-corner-padding: 0px;
    --tab-corner-position: calc(var(--tab-corner-padding) - var(--tab-corner-rounding));
    --tab-separator-top: var(--tab-corner-rounding);
    --tab-separator-height: calc(100% - var(--tab-corner-rounding) * 2);
    --button-corner-rounding: 6px;
    --low-warning-background: hsla(48, 100%, 66%, 0.2);
    --low-warning-color: hsl(40, 100%, 57%);
    --low-warning-text-color: hsl(40, 100%, 70%);
    --low-warning-border-color: hsla(35, 70%, 76%, 0.2);
    --low-warning-icon-background: hsl(44, 95%, 60%);
    --low-warning-icon-detail: hsl(32, 52%, 35%);
    --low-warning-icon-stroke: hsl(40, 93%, 53%);
    --menu-corner-rounding: 7px;
    --panel-padding-x: 8px;
    --panel-padding-y: 4px;
    --panel-padding: var(--panel-padding-y) var(--sidra-padding-x);
    --animation-speed: 0.13s;
    --icon-width: 16px;
    --icon-height: 16px;
    --icon-gap: 12px;
    --label-padding-start: calc(var(--icon-width, 16px) + 2 * var(--icon-gap, 12px));
}

@media (prefers-color-scheme: dark) {

}

:root[uidensity="compact"] {
    --tab-min-height: 30px;
    --panel-padding-x: 4px;
    --menuitem-padding: 4px;
    --icon-gap: 8px;
}

:root[uidensity="touch"] {}