@include Option("userChromeJS.Sidra.AppContent.Rounded.Enabled") {
  :root:not([sizemode="fullscreen"]) {
    --uc-appcontent-raidus: 8px;
    --uc-appcontent-padding: 4px;
    --uc-appcontent-border-color: color-mix(
      in srgb,
      var(--toolbar-bgcolor) 80%,
      currentColor
    );
    --uc-appcontent-spliter-width: 2px;
    #navigator-toolbox {
      /** 去除导航栏底部边框 */
      border-bottom: 0px !important;
    }
    #browser {
      background-color: var(--toolbar-bgcolor);
      > #appcontent {
        padding: 0 var(--uc-appcontent-padding, 4px)
          var(--uc-appcontent-padding, 4px); // 内容区域四边缩进
        background-color: var(--toolbar-bgcolor); // 与工具栏同步背景色
        #tabbrowser-tabbox {
          border: 1px solid var(--uc-appcontent-border-color);
          border-radius: var(--uc-appcontent-raidus, 8px); // 内容区域圆角
          #tabbrowser-tabpanels {
            clip-path: xywh(
              0 0 100% 100% round var(--uc-appcontent-raidus, 8px)
            ) !important;
          }
          overflow: hidden;
        }
      }
      #SM_toolbox[open="true"] {
        border-bottom: none !important;
        #SM_tabbox {
          overflow: hidden;
          @include NotOption(
            "userChromeJS.Sidra.Sidebar.Modoki.AutoHide.Enable"
          ) {
            border: 1px solid var(--uc-appcontent-border-color);
          }
          border-radius: var(--uc-appcontent-raidus, 8px);
          browser {
            clip-path: xywh(0 0 100% 100% round var(--uc-appcontent-raidus, 8px)) !important;
          }
        }

        &:not([positionend="true"]):has(> #SM_contentbox[collapsed="true"])
          ~ #appcontent {
          padding-left: 0;
        }

        &[positionend="true"]:has(> #SM_contentbox[collapsed="true"])
          ~ #appcontent {
          padding-right: 0;
        }
      }
      #sidebar-splitter {
        opacity: 0; // 透明度不改 0 会丢失边框
      }
      #sidebar-box {
        --sidebar-background-color: transparent;
        &:not([positionend="true"]) {
          padding-left: var(--uc-appcontent-padding, 4px);
        }
        &[positionend="true"] {
          padding-right: var(--uc-appcontent-padding, 4px);
        }

        @include NotOption("userChromeJS.Sidra.Sidebar.AutoHide.Enabled") {
          #sidebar {
            overflow: hidden;
            border: 1px solid var(--uc-appcontent-border-color);
            border-radius: var(--uc-appcontent-raidus, 8px);
            clip-path: xywh(0 0 100% 100% round var(--uc-appcontent-raidus, 8px)) !important;
          }
        }
      }
      &:has(~ #status-bar[hidden="true"]) {
        #sidebar-box {
          margin-bottom: var(--uc-appcontent-padding, 4px) !important;
        }

        #SM_toolbox[open="true"] {
          border-bottom: none !important;
          margin-bottom: var(--uc-appcontent-padding, 4px) !important;
        }
      }

      &:has(~ #status-bar:not([hidden="true"])) {
        // 状态栏存在的情况， 不去掉下边距状态栏图标上下不居中
        #appcontent {
          padding-bottom: 0;
        }
        #sidebar,
        #SM_tabbox > #SM_tabpanels {
          margin-bottom: 0;
        }
      }

      #SM_toolbox {
        &[open="false"]:not([aria-hidden="true"]) {
          // SidebarModoki 只显示工具栏时需要去除临建的边距
          &[position="left"] {
            & ~ #appcontent {
              padding-left: 0;
            }
          }
          &[position="right"] {
            & ~ #appcontent {
              padding-right: 0;
            }
          }
        }

        &[open="true"] {
          // 显示 SidebarModoki 后，SidebarModoki 的分割线会占据一部分宽度，需要减去
          border-bottom: 1px solid var(--uc-appcontent-border-color);

          &:not([positionend="true"]) {
            & ~ #appcontent {
              padding-left: var(--uc-appcontent-padding, 4px);
              @include Option(
                "userChromeJS.Sidra.Sidebar.Modoki.AutoHide.Enabled"
              ) {
                padding-left: var(--uc-appcontent-padding, 4px) !important;
              }
            }
            @include Option(
              "userChromeJS.Sidra.Sidebar.Modoki.AutoHide.Enabled"
            ) {
              border-radius: 0 var(--uc-appcontent-raidus, 8px)
                var(--uc-appcontent-raidus, 8px);
            }
          }
          &[positionend="true"] {
            & ~ #appcontent {
              padding-right: var(--uc-appcontent-padding, 4px);
              @include Option(
                "userChromeJS.Sidra.Sidebar.Modoki.AutoHide.Enabled"
              ) {
                padding-right: var(--uc-appcontent-padding, 4px) !important;
              }
            }
            @include Option(
              "userChromeJS.Sidra.Sidebar.Modoki.AutoHide.Enabled"
            ) {
              border-radius: var(--uc-appcontent-raidus, 8px) 0 0
                var(--uc-appcontent-raidus, 8px);
            }
          }
        }
      }

      #sidebar-box {
        > #sidebar-header {
          border-bottom-color: transparent !important;
        }

        #sidebar-header {
          @include Option("userChromeJS.Sidra.Sidebar.AutoHide.Enabled") {
            border-radius: var(--uc-appcontent-raidus, 8px) 0 0 0;
          }
        }
      }
    }

    #sidebar-search-container {
      border-radius: 4px !important;
      #search-box {
        border-radius: 4px 0 0 4px;
      }
      #viewButton {
        border-radius: 0 4px 4px 0;
      }
    }

    #status-bar,
    #statusBar {
      border-top: 0px !important;
    }

    @include Option("userChromeJS.Sidra.Tabs.TabsOnBottom.Enabled") {
      @include TabStyle("6,7,8,9,10,11,12,13") {
        #appcontent {
          padding-top: var(--uc-appcontent-padding, 4px) !important;
        }
        #TabsToolbar .toolbarbutton-1 {
          transform: translateY(calc(var(--uc-appcontent-padding, 4px) / 2));
        }
      }
      :is(#SM_toolbox, #appcontent, #status-bar, #statusBar) {
        --chrome-content-separator-color: var(--lwt-accent-color) !important;
        &:-moz-lwtheme {
          background-image: var(--lwt-additional-images) !important;
          background-repeat: var(--lwt-background-tiling) !important;
          background-position: var(--lwt-background-alignment) !important;
          background-color: var(--lwt-accent-color) !important;
          color: inherit;
        }
      }

      #SM_splitter,
      #sidebar-splitter {
        border-color: var(--lwt-accent-color) !important;
        background-color: var(--lwt-accent-color) !important;
      }

      @include Option("userChromeJS.Sidra.Sidebar.Compact") {
        #browser:not(
            :has(
                > #sidebar-box:is(
                    [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"],
                    [sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
                  ):not([hidden="true"])
              )
          ) {
          #sidebar,
          #sidebar-box,
          #sidebar-header,
          #sidebar-splitter {
            --sidebar-background-color: var(--lwt-accent-color) !important;
            --sidebar-border-color: var(--lwt-accent-color) !important;
            background-color: var(--lwt-accent-color) !important;
          }
        }
      }

      #SM_header:-moz-lwtheme #SM_controls {
        background-color: var(--lwt-accent-color) !important;
        toolbarbutton {
          &:not([disabled]):hover {
            background-color: color-mix(
              in srgb,
              var(--panel-item-hover-bgcolor) 35%,
              var(--urlbar-box-bgcolor)
            ) !important;
          }
        }
      }

      :root[style*="--lwt-accent-color: rgb(240, 240, 244)"] {
        :is(#SM_toolbox, #appcontent, #status-bar) {
          &:-moz-window-inactive {
            --lwt-accent-color: #e0e0e0 !important;
          }
        }
      }
    }
  }
}
