@include Option("userChromeJS.Sidra.AppContent.Rounded.Enabled") {
  :root:not([sizemode="fullscreen"]) {
    --uc-appcontent-raidus: 8px;
    --uc-appcontent-padding: 4px;
    --uc-appcontent-border-color: color-mix(
      in srgb,
      var(--toolbar-bgcolor) 80%,
      currentColor
    );
    --uc-appcontent-spliter-width: 2px;
    #navigator-toolbox {
      /** 去除导航栏底部边框 */
      border-bottom: 0px !important;
    }
    #browser {
      > #TabsToolbar {
        border-radius: var(--uc-appcontent-raidus, 8px);
      }

      > #sidebar-splitter {
        border-color: transparent !important;
      }

      > #appcontent {
        padding: 0 var(--uc-appcontent-padding, 4px)
          var(--uc-appcontent-padding, 4px); // 内容区域四边缩进
        background-color: var(--toolbar-bgcolor); // 与工具栏同步背景色
        #tabbrowser-tabbox {
          border: 1px solid var(--uc-appcontent-border-color);
          border-radius: var(--uc-appcontent-raidus, 8px); // 内容区域圆角
          overflow: hidden;
        }
      }

      &:has(~ #status-bar:not([hidden="true"])) {
        // 状态栏存在的情况， 不去掉下边距状态栏图标上下不居中
        #appcontent {
          padding-bottom: 0;
        }
        #sidebar,
        #SM_tabbox > #SM_tabpanels {
          margin-bottom: 0;
        }
      }

      > #SM_toolbox {
        // 假装去除 SidebarModoki 的分割线
        --chrome-content-separator-color: var(--toolbar-bgcolor);
      }

      #SM_splitter,
      #sidebar-splitter {
        margin-inline: 0 !important;
        --chrome-content-separator-color: var(--toolbar-bgcolor);
        width: var(--uc-appcontent-spliter-width, 2px) !important;
        background-color: var(--chrome-content-separator-color) !important;
      }

      #SM_toolbox {
        &[open="false"]:not([aria-hidden="true"]) {
          // SidebarModoki 只显示工具栏时需要去除临建的边距
          &[position="left"] {
            & ~ #appcontent {
              padding-left: 0;
            }
          }
          &[position="right"] {
            & ~ #appcontent {
              padding-right: 0;
            }
          }
        }

        &[open="true"] {
          // 显示 SidebarModoki 后，SidebarModoki 的分割线会占据一部分宽度，需要减去
          &[position="left"] {
            & ~ #appcontent {
              padding-left: calc(
                var(--uc-appcontent-padding, 4px) - var(
                    --uc-appcontent-spliter-width,
                    2px
                  )
              );
            }
          }
          &[position="right"] {
            & ~ #appcontent {
              padding-right: calc(
                var(--uc-appcontent-padding, 4px) - var(
                    --uc-appcontent-spliter-width,
                    2px
                  )
              );
            }
          }
          #SM_tabpanels {
            border-radius: var(--uc-appcontent-raidus, 8px);
            margin-bottom: var(--uc-appcontent-padding, 4px);
            > tabpanel {
              border: 1px solid var(--uc-appcontent-border-color);
              border-radius: var(--uc-appcontent-raidus, 8px);
              overflow: hidden;
            }
          }
        }
      }

      #sidebar-box {
        width: calc(100% - var(--uc-appcontent-padding, 4px));

        > #sidebar-header {
          border-bottom-color: transparent !important;
        }

        #sidebar {
          position: relative;
          border: 1px solid var(--uc-appcontent-border-color);
          margin-bottom: var(--uc-appcontent-padding, 4px);
          overflow: hidden;
          @include NotOption("userChromeJS.Sidra.Sidebar.AutoHide.Enabled") {
            border-radius: var(--uc-appcontent-raidus, 8px);
          }

          @include Option("userChromeJS.Sidra.Sidebar.AutoHide.Enabled") {
            border-radius: 0 0 0 var(--uc-appcontent-raidus, 8px);
          }
        }

        #sidebar-header {
          @include Option("userChromeJS.Sidra.Sidebar.AutoHide.Enabled") {
            border-radius: var(--uc-appcontent-raidus, 8px) 0 0 0 ;
          }
        }

        &:not([hidden="true"]) {
          &[style*="order: 5"] {
            padding-right: var(--uc-appcontent-padding, 4px);
            ~ #appcontent {
              padding-right: calc(
                var(--uc-appcontent-padding, 4px) - var(
                    --uc-appcontent-spliter-width,
                    2px
                  )
              );
            }
          }

          &[style*="order: 3"] {
            padding-left: var(--uc-appcontent-padding, 4px);
            ~ #appcontent {
              padding-left: calc(
                var(--uc-appcontent-padding, 4px) - var(
                    --uc-appcontent-spliter-width,
                    2px
                  )
              );
            }
            border: 1px solid var(--uc-appcontent-border-color);
          }
        }
      }
    }

    #sidebar-search-container {
      border-radius: 4px !important;
      #search-box {
        border-radius: 4px 0 0 4px;
      }
      #viewButton {
        border-radius: 0 4px 4px 0;
      }
    }

    #sidebar2-box:not([style*="max-width:0"]) ~ #sidebar-select-box,
    #status-bar,
    #statusBar {
      --chrome-content-separator-color: var(
        --toolbar-bgcolor
      ); // 假装去除状态栏的分割线
    }

    #sidebar2-box[style*="order: 1"]:not([style*="max-width:0"]) ~ #appcontent {
      padding-left: 0;
    }

    #sidebar2-box[style*="order: 6"]:not([style*="max-width:0"]) ~ #appcontent {
      padding-right: 0;
    }

    @include Option("userChromeJS.Sidra.Tabs.TabsOnBottom.Enabled") {
      @include TabStyle("6,7,8,9,10,11,12,13") {
        #appcontent {
          padding-top: var(--uc-appcontent-padding, 4px) !important;
        }
        #TabsToolbar .toolbarbutton-1 {
          transform: translateY(calc(var(--uc-appcontent-padding, 4px) / 2));
        }
      }
      :is(#SM_toolbox, #appcontent, #status-bar, #statusBar) {
        --chrome-content-separator-color: var(--lwt-accent-color) !important;
        &:-moz-lwtheme {
          background-image: var(--lwt-additional-images) !important;
          background-repeat: var(--lwt-background-tiling) !important;
          background-position: var(--lwt-background-alignment) !important;
          background-color: var(--lwt-accent-color) !important;
          color: inherit;
        }
      }

      #SM_splitter,
      #sidebar-splitter {
        border-color: var(--lwt-accent-color) !important;
        background-color: var(--lwt-accent-color) !important;
      }

      @include Option("userChromeJS.Sidra.Sidebar.Compact") {
        #browser {
          #sidebar,
          #sidebar-box,
          #sidebar-header,
          #sidebar-splitter {
            --sidebar-background-color: var(--lwt-accent-color) !important;
            --sidebar-border-color: var(--lwt-accent-color) !important;
            background-color: var(--lwt-accent-color) !important;
          }
        }
      }

      #SM_header:-moz-lwtheme #SM_controls {
        background-color: var(--lwt-accent-color) !important;
        toolbarbutton {
          &:not([disabled]):hover {
            background-color: color-mix(
              in srgb,
              var(--panel-item-hover-bgcolor) 35%,
              var(--urlbar-box-bgcolor)
            ) !important;
          }
        }
      }

      :root[style*="--lwt-accent-color: rgb(240, 240, 244)"] {
        :is(#SM_toolbox, #appcontent, #status-bar) {
          &:-moz-window-inactive {
            --lwt-accent-color: #e0e0e0 !important;
          }
        }
      }
    }
  }
}
