@use "utils/theme" as *;
@use "utils/selector" as *;
@use "utils/option" as *;
@use "utils/image" as *;
// Mostly copy from WaveFox
@layer LowPriority, HighPriority;
@layer LowPriority {
  .tab-close-button {
    list-style-image: url("./images/icons/close-9px.svg") !important;
  }
  @include Option(
    "userChromeJS.Sidra.Tabs.SelectedTab.FillWithToolbarBg.Enabled"
  ) {
    .tabbrowser-tab[visuallyselected] {
      --tab-loading-fill: var(--toolbar-field-focus-border-color) !important;
      color: var(--lwt-tab-text, var(--toolbar-color)) !important;
    }

    .tabbrowser-tab[visuallyselected] .tab-background {
      background-color: var(--toolbar-bgcolor) !important;
      background-image: var(--toolbar-bgimage) !important;
      filter: var(--special-main-outer-shadow)
        var(--special-additional-outer-shadow) !important;
    }
  }
  /* ---------------------------------------- Tabs (SVG) ---------------------------------------- */
  @include TabStyle("1") {
    --left-svg: #{image("tabs/option_1/left_corners.svg")};
    --center-svg: #{image("tabs/option_1/center.svg")};
    --right-svg: #{image("tabs/option_1/right_corners.svg")};
  }
  @include TabStyle("2") {
    --left-svg: #{image("tabs/option_2/left_corners.svg")};
    --center-svg: #{image("tabs/option_2/center.svg")};
    --right-svg: #{image("tabs/option_2/right_corners.svg")};
  }
  @include TabStyle("3") {
    --left-svg: #{image("tabs/option_3/left_corners.svg")};
    --center-svg: #{image("tabs/option_3/center.svg")};
    --right-svg: #{image("tabs/option_3/right_corners.svg")};
  }
  @include TabStyle("4") {
    --left-svg: #{image("tabs/option_4/left_corners.svg")};
    --center-svg: #{image("tabs/option_4/center.svg")};
    --right-svg: #{image("tabs/option_4/right_corners.svg")};
  }
  @include TabStyle("5") {
    --left-svg: #{image("tabs/option_5/left_corners.svg")};
    --center-svg: #{image("tabs/option_5/center.svg")};
    --right-svg: #{image("tabs/option_5/right_corners.svg")};
  }
  @include TabStyle("6") {
    --left-svg: #{image("tabs/option_1/left_corners.svg")};
    --center-svg: #{image("tabs/option_1/center.svg")};
    --right-svg: #{image("tabs/option_1/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
  }
  @include TabStyle("7") {
    --left-svg: #{image("tabs/option_6/left_corners.svg")};
    --center-svg: #{image("tabs/option_6/center.svg")};
    --right-svg: #{image("tabs/option_6/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("8") {
    --left-svg: #{image("tabs/option_7/left_corners.svg")};
    --center-svg: #{image("tabs/option_7/center.svg")};
    --right-svg: #{image("tabs/option_7/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("9") {
    --left-svg: #{image("tabs/option_8/left_corners.svg")};
    --center-svg: #{image("tabs/option_8/center.svg")};
    --right-svg: #{image("tabs/option_8/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("10") {
    --left-svg: #{image("tabs/option_9/left_corners.svg")};
    --center-svg: #{image("tabs/option_9/center.svg")};
    --right-svg: #{image("tabs/option_9/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2 - 6px);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("11") {
    --left-svg: #{image("tabs/option_10/left_corners.svg")};
    --center-svg: #{image("tabs/option_10/center.svg")};
    --right-svg: #{image("tabs/option_10/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("12") {
    --left-svg: #{image("tabs/option_11/left_corners.svg")};
    --center-svg: #{image("tabs/option_11/center.svg")};
    --right-svg: #{image("tabs/option_11/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("13") {
    --left-svg: #{image("tabs/option_12/left_corners.svg")};
    --center-svg: #{image("tabs/option_12/center.svg")};
    --right-svg: #{image("tabs/option_12/right_corners.svg")};
    --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    --outer-drop-border-offset: 1px;
  }
  @include TabStyle("default") {
    --tab-bg-block-margin: 4px;
  }

  @include TabStyle("1,2,3,4,5") {
    /* -------------------- Floating Tabs -------------------- */
    --tab-first-last-inline-margin: calc(var(--tab-block-margin) / 2);
    --tab-scroll-animation-inline-margin: calc(
      -1 * var(--tab-first-last-inline-margin)
    );
    --tab-scroll-animation-inline-padding: calc(
      var(--tab-first-last-inline-margin) * 2
    );
    --tab-bg-block-margin: var(--tab-block-margin);
    --tab-inline-padding: var(--tab-first-last-inline-margin);
    --tab-separator-offset: var(--tab-first-last-inline-margin);
  }

  @include TabStyle("2,3,4,5") {
    /** 修正 Floating Tabs 的边距 */
    --tab-bg-block-margin: 4px;
  }

  @include TabStyle("6,7,8,9,10,11,12,13") {
    /* -------------------- Attached Tabs -------------------- */
    --tab-scroll-animation-inline-margin: calc(
      -1 * var(--tab-first-last-inline-margin)
    );
    --tab-scroll-animation-inline-padding: var(--tab-first-last-inline-margin);
    --tab-bg-block-margin: 0px;
    --tab-inline-padding: 0px;
    --tab-separator-offset: 0px;
  }
  /* ---------------------------------------- System Theme ---------------------------------------- */
  @media not (prefers-contrast) {
    :root:not([lwtheme]) {
      .titlebar-color {
        --toolbarbutton-hover-background: color-mix(
          in srgb,
          currentColor 17%,
          transparent
        ) !important;
        --toolbarbutton-active-background: color-mix(
          in srgb,
          currentColor 30%,
          transparent
        ) !important;
      }

      .tabbrowser-tab[visuallyselected] {
        color: var(--toolbar-color) !important;

        .tab-background {
          background-color: var(--toolbar-bgcolor) !important;
        }
      }
    }
  }

  /* ---------------------------------------- Light Theme / Dark Theme ---------------------------------------- */

  :root:is(
      [style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26)"],
      [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254)"]
    ) {
    .tabbrowser-tab[visuallyselected] {
      color: var(--toolbar-color) !important;

      .tab-background {
        background-color: var(--toolbar-bgcolor) !important;
      }
    }
  }

  /* ---------------------------------------- Pinned Tabs Width ---------------------------------------- */
  :root {
    --pinned-tabs-width-offset: 2px;
  }

  /* ---------------------------------------- Firefox View ---------------------------------------- */

  :where(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs {
    border-inline-start: none !important;
    padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
    margin-inline-start: 0px !important;
  }

  #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
    color: inherit !important;
    box-shadow: none !important;
    outline: none !important;
  }

  #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
  }

  #TabsToolbar #firefox-view-button[attention] {
    background-position: var(--tab-attention-indicator-position) !important;
  }

  /* ---------------------------------------- Main Window ---------------------------------------- */

  :root {
    --tab-shadow-max-size: 0px !important;
    --tabs-navbar-shadow-size: 0px !important;
  }

  /* ---------------------------------------- Titlebar ---------------------------------------- */

  :root[tabsintitlebar]:-moz-window-inactive {
    #titlebar {
      opacity: 1 !important;
    }

    .titlebar-color {
      color: color-mix(in srgb, currentColor 60%, transparent) !important;
      --toolbarbutton-icon-fill: currentColor !important;
    }
  }

  /* ---------------------------------------- Density ---------------------------------------- */
  :root {
    --tab-min-height: 36px !important;
  }

  :root[uidensity="compact"] {
    --tab-min-height: 32px !important;
  }

  :root[onload="TMP_TBP_Startup();"][uidensity="compact"] {
    --tab-min-height: 24px !important;
  }

  :root[uidensity="touch"] {
    --tab-min-height: 40px !important;
  }

  /* ---------------------------------------- Tabs ---------------------------------------- */

  .tabbrowser-tab {
    --tab-label-mask-size: 0px !important;
    overflow-x: clip !important;
    overflow-y: visible !important;
    overflow-clip-margin: var(--tab-overflow-clip-margin) !important;
    clip-path: inset(var(--tab-inset-clip-path)) !important;
    padding-inline: var(--tab-inline-padding) !important;

    &[visuallyselected] {
      position: relative;
      z-index: 2 !important;
      filter: var(--outer-drop-border, drop-shadow(0 0 0 transparent))
        var(--outer-drop-shadow, drop-shadow(0 0 0 transparent));
    }

    &:not([visuallyselected]) {
      color: inherit !important;

      &:hover .tab-background {
        background-color: var(--toolbarbutton-hover-background) !important;
      }

      &[multiselected] .tab-background {
        background-color: var(--toolbarbutton-active-background) !important;
      }
    }

    .tab-background {
      mask-image: var(--left-svg), var(--center-svg), var(--right-svg);
      mask-size:
        auto 100%,
        calc(100% - var(--tab-min-height) * 2) 100%,
        auto 100%;
      mask-position:
        left center,
        center center,
        right center;
      mask-repeat: no-repeat, no-repeat, no-repeat;
      box-shadow: none !important;
      outline: none !important;
      margin-block: var(--tab-bg-block-margin) !important;
      margin-inline: calc(-1 * (var(--tab-min-height) / 2)) !important;
      border-radius: 0px !important;
      pointer-events: none !important;
    }
  }

  .tab-drop-indicator {
    opacity: 0 !important;
  }

  #tabbrowser-tabs[movingtab] .tabbrowser-tab:not([visuallyselected]) {
    z-index: auto !important;
  }

  .tabbrowser-tab[pending] .tab-icon-image {
    opacity: 0.5 !important;
  }

  .tab-content {
    padding-inline: calc(
      (var(--tab-min-height) - 16px) / 2 + var(--pinned-tabs-width-offset, 0px)
    ) !important;
  }

  :root[onload="TMP_TBP_Startup();"] .tab-content {
    padding-inline: calc(
      (var(--tab-min-height) - 16px) + var(--pinned-tabs-width-offset, 0px)
    ) !important;
  }

  .tab-close-button {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    padding: 2px !important;
    margin: 0px !important;
  }

  .tab-close-button:hover {
    background-color: var(--toolbarbutton-hover-background) !important;
  }

  .tab-close-button:hover:active {
    background-color: var(--toolbarbutton-active-background) !important;
  }

  /* -------------------- Selected Tab Indicator -------------------- */
  @include Option("userChromeJS.Sidra.Tabs.SelectedTabIndicator.Enabled") {
    .tabbrowser-tab[visuallyselected][usercontextid] .tab-background {
      box-shadow: inset 0 -2px 0 var(--tab-loading-fill) !important;
    }

    .tabbrowser-tab[visuallyselected]:not([usercontextid]) .tab-background {
      box-shadow: inset 0 2px 0 var(--tab-loading-fill) !important;
    }
  }

  @include Option("userChromeJS.Sidra.Tabs.TabCounter.Enabled") {
    /* -------------------- Tab Counter -------------------- */
    #tabbrowser-tabs {
      counter-reset: TabCounter;
    }

    .tabbrowser-tab {
      counter-increment: TabCounter;
    }

    #tabbrowser-tabs ~ #alltabs-button::after {
      content: counter(TabCounter);
    }
  }

  /* -------------------- Container Indicators -------------------- */
  .tab-context-line {
    margin: 0px !important;
  }

  /* -------------------- Tab Icon Indicators -------------------- */
  .tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
  .tab-content[pinned][titlechanged]:not([selected]) {
    background-position: var(--tab-attention-indicator-position) !important;
  }

  /* -------------------- Media Icons -------------------- */
  .tab-icon-overlay:not([crashed]) {
    stroke: transparent !important;
    background-color: transparent !important;
    border-radius: 50% !important;
    color: inherit !important;
    fill: currentColor !important;
    fill-opacity: 1 !important;
    z-index: 1 !important;
  }

  .tab-icon-overlay:not([crashed]):hover {
    background-color: var(--toolbarbutton-hover-background) !important;
  }

  .tab-icon-overlay:not([crashed]):hover:active {
    background-color: var(--toolbarbutton-active-background) !important;
  }

  .tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):not(
      [crashed]
    )
    .tab-icon-overlay {
    top: -8px !important;
    inset-inline-end: -8px !important;
  }

  .tab-icon-overlay[indicator-replaces-favicon],
  .tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay) {
    opacity: 1 !important;
  }

  .tabbrowser-tab:not([pinned]) .tab-icon-stack > * {
    margin-inline-end: 10px !important;
  }

  .tabbrowser-tab[busy] .tab-icon-overlay {
    display: none !important;
  }

  .tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):is(
      [soundplaying],
      [muted],
      [activemedia-blocked]
    ):not([busy], [crashed])
    .tab-icon-stack
    > :not(.tab-icon-overlay) {
    mask-image: #{image("skin/Media.svg")};
    mask-size: 16px 16px;
  }

  :root:-moz-locale-dir(rtl)
    .tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):is(
      [soundplaying],
      [muted],
      [activemedia-blocked]
    ):not([busy], [crashed])
    .tab-icon-stack
    > :not(.tab-icon-overlay) {
    mask-image: #{image("skin/Media_rtl.svg")};
  }

  /* ---------- Picture-In-Picture ---------- */

  .tabbrowser-tab[pictureinpicture]:not([busy], [crashed])
    .tab-icon-stack::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    fill: currentColor;
    -moz-context-properties: fill;
  }

  :root:-moz-locale-dir(rtl)
    .tabbrowser-tab[pictureinpicture]:not([busy], [crashed])
    .tab-icon-stack::before {
    transform: rotateY(180deg);
  }

  .tabbrowser-tab[pictureinpicture]:not([busy], [crashed])
    .tab-icon-stack
    > :not(.tab-icon-overlay) {
    position: relative !important;
    padding: 2px !important;
    inset-inline-start: 8px !important;
    top: 8px !important;
    mask-image: none !important;
    box-sizing: border-box !important;
    z-index: 1 !important;
  }

  .tabbrowser-tab[pictureinpicture]:not([busy], [crashed]):not(
      [soundplaying],
      [muted],
      [activemedia-blocked]
    )
    .tab-icon-stack::before {
    mask-image: #{image("skin/PIP.svg")};
    mask-size: 100% 100%;
  }

  .tabbrowser-tab[pictureinpicture]:not([busy], [crashed]):is(
      [soundplaying],
      [muted],
      [activemedia-blocked]
    )
    .tab-icon-stack::before {
    mask-image: #{image("skin/PIP_Sound.svg")};
    mask-size: 100% 100%;
  }

  /* -------------------- Tab Text -------------------- */

  .tab-label-container {
    height: var(--tab-min-height) !important;
  }

  .tab-label {
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-block: 0px !important;
  }

  #tabbrowser-tabs[secondarytext-unsupported] .tab-label {
    height: var(--tab-min-height) !important;
    line-height: var(--tab-min-height) !important;
  }

  .tab-secondary-label {
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    margin-block: 0px !important;
    order: -1 !important;
  }

  .tab-secondary-label > * {
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
